@media screen and (min-width: 769px){
    .modal-content {
        background-color: #fefefe;
        display: flex;
        flex-direction: column;
        margin: 7% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border-radius: 8px;
        width: 50%;
    }
    .modal-content>button{
        margin: 10px auto;
        align-content: center;
    }
}
 @media screen and (max-width: 430px){
  .garden{
    background-position: -100px 0px;
}
} 
