body{
    background-color:rgba(156,230,81,255);
    cursor: url(/assets/img/cursor4.cur),pointer;
}
*:active{
    cursor: url(/assets/img/cursor3.cur),pointer;
}

.caracteristics{
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;

}
.score{
    height: 50px;
    width: 100px;
    border: 3px solid;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
    margin: 15px;
}
.score>div{
    font-size: larger;
    color: black;
    background-color: red;
    padding-top: 5px;
}
.lvl{
    height: 60px;
    width: 180px;
    background-image: url(/assets/img/3vidas.png);
    background-size: cover;
}
.user_box{
    height: 50px;
    width: 30%;
    
    color: white;
    font-size: 2em;
    text-align: center;

}
.time_bar{
    height: 70px;
}
#grid_hueco{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-align: center;

    /* display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr  ; */
}

.hueco{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/assets/img/hueco.PNG);
}


.oso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/assets/img/topoSalido.PNG);
    background-repeat: no-repeat;
}
.ososal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/assets/img/mediotopo.PNG);
    background-repeat: no-repeat;
}

.osoaplastado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/assets/img/topoaplastado.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}


.bomb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/assets/img/bomba.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 12px;
}
.explo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/assets/img/explosion.jpg);
    background-repeat: no-repeat;
}



/* modal prueba */
.centramelo{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    /* background: green; */
    width: 100%;
    height: 100vh;
    align-items: center;
    align-self: center;
    align-content: center;
    top: 0%;
}
/* #display2{
    display: none;
} */
.center button{
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.center{
    background: white;
    /* box-shadow: 2px 2px 5px 5px ; */
    width: 335px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    /* top: 0%;
    align-content: center;
    align-self: center;
    /* left: 40%; */
}

.center .form h2{
    text-align: center;
    color: black;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
.center .form .form-element{
    margin: 15px 0px;
}
.center .form .form-element label{
    color: white;
    font-size: 14px;
}
.center .form .form-element input[type="text"]{
    margin-top: 5px;
    /* width: 100%; */
    display: block;
    padding: 10px;
    outline: none;
    border: 3px solid black;
    border-radius:5px;
}

.Tbar{
    margin: 20px;
    height: 20px;
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(173, 78, 78);
    border-radius: 15px;
}

.Tpast{
    height: 20px;
    width: 0px;
    border-radius: 15px;
    background-color: red;
}
.timeOut{
    transition: width 5s;
    width: 375px;

}

.hide{
    display: none;
    visibility: hidden;
}

.show{
    visibility: visible;
    display: block;
}

#tableDiv{
    font-weight: bold;
    visibility: none;
    display: grid;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    text-align: center;
}
#tableDiv input{
    font-weight: bold;
    font-size: large;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}
table{
    margin-top: 1%;
    border: 1px solid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 8px;
}

tr{
    text-align: center;
    border: 1px solid #888;
    border-radius: 8px;
}
td{
    padding: 10px;
}
.cascoOso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/assets/img/topocasco.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 7px -15px;
}

.cascoBajando{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/assets/img/topocascosaliendo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 5px;
}
