body{
    background-color:rgba(156,230,81,255);
    cursor: url(/assets/img/cursor4.cur),pointer;
}

/* todo cursor img */
*:active{
    cursor: url(/assets/img/cursor3.cur),pointer;
}

.caracteristics{
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

/*todo score */
.score{
    height: 50px;
    width: 100px;
    border: 3px solid;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
    margin: 15px;
}

.score>div{
    font-size: larger;
    color: black;
    background-color: red;
    padding-top: 5px;
}

/*todo nivel */
.lvl{
    height: 60px;
    width: 180px;
    background-image: url(/assets/img/3vidas.png);
    background-size: cover;
}

/*todo nombre user */
.user_box{
    height: 50px;
    width: 30%;
    color: white;
    font-size: 2em;
    text-align: center;
}

/*todo time bar */
.Tbar{
    margin: 20px;
    height: 20px;
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(173, 78, 78);
    border-radius: 15px;
}

.Tpast{
    height: 20px;
    width: 0px;
    border-radius: 15px;
    background-color: red;
}
.timeOut{
    transition: width 5s;
    width: 100%;

}



/*todo modal prueba */
.centramelo{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    /* background: green; */
    width: 100%;
    height: 100vh;
    align-items: center;
    align-self: center;
    align-content: center;
    top: 0%;
}

/*todo*/
.center button{
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.center{
    background: white;
    width: 335px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
}

.center .form h2{
    text-align: center;
    color: black;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
.center .form .form-element{
    margin: 15px 0px;
}
.center .form .form-element label{
    color: white;
    font-size: 14px;
}
.center .form .form-element input[type="text"]{
    margin-top: 5px;
    /* width: 100%; */
    display: block;
    padding: 10px;
    outline: none;
    border: 3px solid black;
    border-radius:5px;
}

/*todo hide and display Score Tables */
.hide{
    display: none !important;
    visibility: hidden;
}

.show{
    display:  block !important;
    visibility: visible;
}

/*Todo Table Score*/
#tableDiv{
    font-weight: bold;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    text-align: center;
}

#tableDiv input{
    font-weight: bold;
    font-size: large;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

table{
    width: 100%;
    margin-top: 1%;
    border: 1px solid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 8px;
}

tr{
    text-align: center;
    border: 1px solid #888;
    border-radius: 8px;
}
td{
    padding: 10px;
}

#Next_page{
    font-weight: bold;
    }

    .modal-content>button{
        border-radius: 10px;
    }
