#grid_hueco{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    display: grid;
    /* grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr   ; */
    /* gap: 5%; */
}

.hueco{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    height: 90%;
    width: 90%;
    padding: 5%;
    background-image: url(/img/hueco.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    overflow: visible ;
}


.oso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    padding: 5%;
    background-image: url(/img/topoSalido.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}
.ososal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    padding: 5%;
    background-image: url(/img/mediotopo.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.osoaplastado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    padding: 5%;
    background-image: url(/img/topoaplastado.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -2px;
    margin: auto;
}


.bomb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    padding: 5%;
    background-image: url(/img/bomba.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 12px;
    margin: auto;
}
.explo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    padding: 5%;
    background-image: url(/img/explosion.png);
    background-repeat: no-repeat;
    margin: auto;
}


.cascoOso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    padding: 5%;
    background-image: url(/img/topocasco.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10px 45%;
}

.cascoBajando{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    padding: 5%;
    background-image: url(/img/topocascosaliendo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10px 5px;
}