#grid_hueco{
    background-image: url(/img/Background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    padding-top: 10%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr   ;
}

.hueco{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 149px;
    background-image: url(/img/hueco.PNG);
    margin: auto;
}


.oso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/img/topoSalido.PNG);
    background-repeat: no-repeat;
    margin: auto;
}
.ososal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/img/mediotopo.PNG);
    background-repeat: no-repeat;
    margin: auto;
}

.osoaplastado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/img/topoaplastado.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}


.bomb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/img/bomba.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 12px;
    margin: auto;
}
.explo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/img/explosion.png);
    background-repeat: no-repeat;
    margin: auto;
}


.cascoOso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/img/topocasco.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 7px -15px;
}

.cascoBajando{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 139px;
    background-image: url(/img/topocascosaliendo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 5px;
}